
@import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.coming_soon {
  font-family: 'Rubik Puddles', cursive;
  font-size: 60px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bb_logo {
  height: 260px;
  width: 820px;
  background-image: url('BrewBlogo.png');
}

.allbeerslist {
  height: 100vh;
  width: 100vw;
}

.beerfridge {
  height: 800px;
  width: 800px;
  background-image: url('BeerFridgenoglow.png');
  /* display: block; */
}
.beercans {
  display: flex;
  width: 420px;
  height: 300px;
  margin-top: 145px;
  margin-left: 140px;
  flex-direction: row;
  overflow-x: hidden;
  padding-right: 16px;
  
}

.blankcan_one {
  height: 180px;
  width: 110px;
  background-image: url('BlankCan.png');
  /* position: relative; */
  top: 110px;
  left: 240px;
  margin-right: 5px;
  animation: shiftbcone 5000ms linear infinite forwards;
  
}

.beercans:hover * {
  animation-play-state: paused;
  transition: none;
  opacity: 1;

}

.blankcan_one:hover {
  animation-play-state: paused;
  background-image: url('BeerCanPaleAleglow.png');
  padding-right: 8px;
  padding-bottom: 20px;
}

.blankcan_two:hover {
  animation-play-state: paused;
  background-image: url('BeerCanIPAglow.png');
  padding-right: 8px;
  padding-bottom: 20px;  
}

.blankcan_three:hover {
  animation-play-state: paused;
  background-image: url('BeerCanLagerglow.png');
  padding-right: 8px;
  padding-bottom: 20px;  
}

.blankcan_four:hover {
  animation-play-state: paused;
  background-image: url('BeerCanIPAglow.png');
  padding-right: 8px;
  padding-bottom: 20px; 
}


.blankcan_two {
  height: 180px;
  width: 110px;
  background-image: url('BlankCan.png');
  /* position: relative; */
  top: 110px;
  left: 240px;
  animation: shiftbctwo 5000ms linear infinite forwards;
  
}

.blankcan_three {
  height: 180px;
  width: 110px;
  background-image: url('BlankCan.png');
  /* position: relative; */
  top: 110px;
  left: 240px;
  animation: shiftbcthree 5000ms linear infinite forwards;

}

.blankcan_four {
  height: 180px;
  width: 110px;
  background-image: url('BlankCan.png');
  /* position: relative; */
  top: 110px;
  left: 0px;
  animation: shiftbcfour 5000ms linear infinite forwards;

}


@keyframes shiftbcone {
  0% {
    transform: translateX(0%)
  }
  25% {
    transform: translateX(25%)
  }
  50% {
    transform: translateX(50%)
  }
  75% {
    transform: translateX(75%)
  }
  100% {
    transform: translateX(100%);
  }
}


@keyframes shiftbctwo {
  0% {
    transform: translateX(0%)
  }
  20% {
    transform: translateX(20%)
  }
  40% {
    transform: translateX(40%)
  }
  60% {
    transform: translateX(60%)
  }
  80% {
    transform: translateX(80%)
  }
  100% {
    transform: translateX(100%);
  }
 
}


@keyframes shiftbcthree {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  25% {
    transform: translateX(25%);
    opacity: 0.75;
  }
  50% {
    transform: translateX(50%);
    opacity: 0.5;
  }
  75% {
    transform: translateX(75%);
    opacity: 0;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }

}


@keyframes shiftbcfour {
  0% {
    transform: translateX(0%);
    opacity: 0;
  }
  20% {
    transform: translateX(20%);
    opacity: 0;
  }
  40% {
    transform: translateX(40%);
    opacity: 0;
  }
  60% {
    transform: translateX(60%);
    opacity: 0.5;
  }
  80% {
    transform: translateX(80%);
    opacity: 0.75;
  }
  100% {
    transform: translateX(100%);
    opacity: 1;
  }

}





