.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.allbeerslist {
  height: 100vh;
  width: 100vw;
}

.beerfridge {
  height: 800px;
  width: 800px;
  background-image: url('BeerFridgeGlow.PNG');
  /* display: block; */
}
.beercans {
  display: flex;
  width: 800px;
  height: 300px;
  margin-top: 30px;
  flex-direction: row;
  /* justify-content: center; */ 
  /* padding-top: 110px; */
  
  
}

.blankcan_one {
  height: 180px;
  width: 110px;
  background-image: url('BlankCan.png');
  position: relative;
  top: 110px;
  left: 240px;
  /* animation: bcone 3000ms linear ;
  animation-iteration-count: 3; */
  
}

.ipa {
  height: 180px;
  width: 110px;
  background-image: url('IPACan.png');
  /* margin-left: 20px; */
  position: relative;
  top: 110px;
  left: 240px;
  animation: ipaani 4000ms ease-in-out;
  animation-iteration-count: 3;

}

.blankcan_two {
  height: 180px;
  width: 110px;
  background-image: url('BlankCan.png');
  position: relative;
  top: 110px;
  left: 240px;
  /* animation: bctwo 3000ms linear;
  animation-iteration-count: 3; */
  
}

.paleale {
  height: 180px;
  width: 110px;
  background-image: url('PaleAleCan.png');
  
}

.lager {
  height: 180px;
  width: 110px;
  background-image: url('LagerCan.png');
  margin-right: 10px;

}

.beercans:hover .ipa {
  animation: left-to-right 2s ease-in forwards;
}

.beercans:hover .blankcan_one {
  animation: l-t-r 2s ease-in forwards;
}

.beercans:hover .blankcan_two {
  animation: right-to-left 2s ease-in forwards;
}

.beercans:hover .paleale {
  animation: left-to-right 2s ease-in forwards;
}

.beercans:hover .lager {
  animation: right-to-left 2s ease-in forwards;
}

@keyframes bcone {
  0% {
    transform: translateX(-25%);
    opacity: 0;

  }
  50% {
    opacity: 1;

  }
  100% {
    transform: translateX(50%);
    opacity: 0;
  }
}

@keyframes bctwo {
  0% {
    transform: translateX(-25%);
    opacity: 0;

  }
  50% {
    opacity: 1;

  }
  100% {
    transform: translateX(50%);
    opacity: 0;
  }
}

@keyframes ipaani {
  0% {
    opacity: 0;
  }
  25% {
    opacity: .25;
  }

  50% {
    opacity: 1;
  }
  75% {
    opacity: .25;
  }

  100% {
    opacity: 0;
  }
}

@keyframes left-to-right {
  100% {
    transform: translateX(100%);
  }
}

@keyframes l-t-r {
  100% {
    transform: translateX(100%);
  }
}

@keyframes end-to-begin {
  0% {
    transform: translateY(-50%)
  }
  33% {
    transform: translateX(-200%);
  }
  66% {
    transform: translateX(-200%) translateY(10%);
  }
  100% {
    transform: translateX(-200%);
  }
}

@keyframes right-to-left {
0% {
  transform: translateX(25%);
}
25% {
  transform: translateY(-25%);
}
50% {
  transform: translateX(-200%);
}
75% {
  
}

}




